* {
  padding: 0px;
  margin: 0px;
}

body {
	font-family: 'Raleway', arial, sans-serif;
	font-style: 800;
	background-color: #5AC6FF;
	color: #ffffff;
	text-align: center;
}

h1 {
	font-size: 3.5em;
}

p {
	font-size: 1.5em;
	line-height: 1.5em;
}